<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Activate user</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>

  <body style="height: 100vh">
    <meta
      http-equiv="refresh"
      content="5;url=http://localhost:3000/formations"
    />
    <div
      style="
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      "
    >
      <i
        class="fa-solid fa-circle-check"
        style="font-size: 70px; color: green"
      ></i>
      <h1>Compte activé</h1>
      <p style="font-size: large">
        Félicitations ! Votre compte Financial-performance a été activé.
      </p>
      <p style="font-size: large">
        Vous serez redirigés après
        <span style="font-weight: bold">5 secondes</span>.
      </p>
    </div>

    <script
      src="https://kit.fontawesome.com/b280691a77.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
